# Java関連ファイル
*.class
*.jar
*.war
*.nar
*.ear

# コンパイルやビルド出力
target/
build/

# パッケージファイル
*.zip
*.tar.gz
*.rar

# ログファイル
*.log

# 一時ファイル
*.tmp
*.swp
*~

# IDEやOSの設定ファイル
.DS_Store
Thumbs.db
.idea/
.vscode/

# Docker関連ファイル
**/docker-compose.override.yml
**/Dockerfile~
volumes/

# MySQLの永続化データ
mysql_data/

# 仮想マシンのクラッシュログ
hs_err_pid*
replay_pid*
